--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple

torch==2.6.0
transformers
datasets
evaluate
huggingface_hub
tokenizers
charset_normalizer
rouge_score
absl-py
nltk
bert-score